[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
textblob = "*"
nltk = "*"
numpy = "*"
bert-embedding = "*"
textblob-download-corpora = "*"

[requires]
python_version = "3.7"
