<!DOCTYPE html>
<html>
<!-- <head>

	{% if title %}
        <title>Citta - {{ title }}</title>
    {% else %}
        <title>Citta</title>
    {% endif %}
	

</head> -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<style>

body,h1 
{
  font-family: "Raleway", sans-serif
}
body, html 
{
  height: 100%
}
.bgimg 
{
  background-image: url('/static/forestbridge.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <!-- <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Citta
  </div> -->
  <div class="w3-display-middle">
  	{% with messages = get_flashed_messages(with_categories=true) %}
  		{% if messages %}
  			{% for category,message in messages %}
  				<div class="alert alert-{{ category }}">
  					{{ message }} 					
  				</div>
  			{% endfor %}  					
  		{% endif %}
  	{% endwith %}
    <h1 style="text-align: center;" class="w3-jumbo w3-animate-top">Citta: A Digital Library Framework</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%"> 
    <p class="w3-large w3-center"> <a href = "{{ url_for('inputform') }}">Click to Search The Book You Need</a></p>
  </div>
</div>

</body>
</html>
